* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  height: 100vh;
  font-family: sans-serif;
}
img {
  width: 100%;
}
header {
  background-color: blue;
  display: grid;
  grid-template-columns: auto auto 1fr;

  gap: 30px;
  align-content: center;
  padding: 20px;
}

header .genders-list {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  gap: 20px;
  justify-self: start;
}

header .genders-list li {
  list-style: none;
}

header .right-elements {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  justify-self: end;
  align-content: center;
}

main {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 10px;
  padding: 20px;
}
main h2 {
  color: #10234b;
}

main .products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
main .products-list li {
  list-style: none;
  display: grid;
  gap: 10px;
  padding-bottom: 20px;
  position: relative;
}
main .products-list h3 {
  color: #10234b;
  font-size: 16px;
}
main .products-list p {
  font-size: 16px;
  font-weight: 700;
  color: #10234b;
}
main .product-prices {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 10px;
}
.product-fullprice.discounted {
  text-decoration: line-through;
  font-weight: 300;
  opacity: 0.5;
}

main .price-discount {
  color: red;
}
.new-product {
  background-color: rgb(106, 106, 231);
  position: absolute;
  top: -29px;
  right: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 7px;
  color: white;
  font-size: 13px;
}

footer {
  background-color: chartreuse;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: center;
  padding: 20px;
}

footer .national-emblems {
  display: grid;
  grid-template-columns: auto auto;
  justify-self: end;
}
